<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-12">
      <a href="/admin/productCreate" class="btn btn-primary m-2 float-end mt-3"
        ><i class="fa-solid fa-plus"></i> Thêm mới</a
      >
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Quản lý sản phẩm</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Hình sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col" colspan="2">Hành động</th>
              </tr>
            </thead>
            <tbody id="productsTableBody">
              <% products.forEach((product, index) => { %>
              <tr>
                <th scope="row"><%= product.id %></th>
                <td><%= product.name %></td>
                <td>
                  <img
                    src="../../uploads/<%= product.image %>"
                    alt="IMG"
                    width="80"
                  />
                </td>
                <td><%= formatPrice(product.price) %></td>
                <!-- Sử dụng hàm formatPrice để định dạng giá -->
                <td><%= product.category %></td>
                <td class="w-3">
                  <a
                    href="/admin/productEdit?id=<%= product.id %>"
                    class="btn-edit mx-1"
                    data-id="<%= product.id %>"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                  <a
                    href="/admin/productDelete/<%= product.id %>"
                    class="btn-del"
                    data-id="<%= product.id %>"
                    data-title="<%= product.title %>"
                    onclick="return confirm(`Bạn có chắc chắn muốn xóa danh mục '<%= product.name %>' không?`)"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->



