<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Sửa sản phẩm</h6>
                <form class="formEdit-Product" action="/admin/productEdit?id=<%= product.id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="inputProduct" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="inputProduct" name="name" value="<%= product.name %>" aria-describedby="nameProduct">
                        <div class="productError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Hình sản phẩm</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image">
                        <div class="previewImage">
                            <span>Hình cũ:</span>
                            <img src="../../uploads/<%= product.image %>" alt="IMG" width="100">
                        </div>
                        <div class="imgError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Giá sản phẩm</label>
                        <input type="number" class="form-control" id="inputPrice" name="price" value="<%= product.price %>" aria-describedby="price">
                        <div class="priceError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Giá giảm *</label>
                        <input
                          type="number"
                          class="form-control"
                          name="sale_price"
                          id="inputPrice"
                          value="<%= product.sale_price %>"
                          aria-describedby="price"
                          placeholder="đ"
                        />
                        <div class="priceError my-2"></div>
                      </div>
                    <div class="mb-3">
                        <label for="inputDetail" class="form-label">Mô tả</label>
                        <textarea id="summernote" class="summernote" name="description" placeholder="Nhập nội dung ở đây"><%= product.description %></textarea>
                        <div class="detailError my-2"></div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="checkCategory" class="form-label">Chọn danh mục</label>
                        <select class="form-select form-in" id="checkCategory" name="cate_id">
                            <% categories.forEach((category) => { %>
                                <option value="<%= category.id %>" <%= product.cate_id === category.id ? 'selected' : '' %>><%= category.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="cateError my-2"></div>

                    <button type="submit" id="myBtn" class="btn btn-primary m-2">Lưu thay đổi</button>
                    <input type="reset" class="btn btn-warning m-2" value="Nhập lại">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
