<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Sửa sản phẩm</h6>
                <form class="formEdit-Product" action="/admin/productEdit?id=<%= product.id %>" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="inputProduct" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="inputProduct" name="name" value="<%= product.name %>" aria-describedby="nameProduct">
                        <div class="productError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Hình sản phẩm</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image">
                        <div class="previewImage">
                            <span>Hình cũ:</span>
                            <img src="../../uploads/<%= product.image %>" alt="IMG" width="100">
                        </div>
                        <div class="imgError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Giá sản phẩm</label>
                        <input type="number" class="form-control" id="inputPrice" name="price" value="<%= product.price %>" aria-describedby="price">
                        <div class="priceError my-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPrice" class="form-label">Giá giảm *</label>
                        <input
                          type="number"
                          class="form-control"
                          name="sale_price"
                          id="inputSalePrice"
                          value="<%= product.sale_price %>"
                          aria-describedby="price"
                          placeholder="đ"
                        />
                        <div class="salePriceError my-2"></div>
                      </div>
                    <div class="mb-3">
                        <label for="inputDetail" class="form-label">Mô tả</label>
                        <textarea id="summernote" class="summernote" name="description" placeholder="Nhập nội dung ở đây"><%= product.description %></textarea>
                        <div class="detailError my-2"></div>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="checkCategory" class="form-label">Chọn danh mục</label>
                        <select class="form-select form-in" id="checkCategory" name="cate_id">
                            <% categories.forEach((category) => { %>
                                <option value="<%= category.id %>" <%= product.cate_id === category.id ? 'selected' : '' %>><%= category.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="cateError my-2"></div>

                    <button type="submit" id="myBtn" class="btn btn-primary m-2">Lưu thay đổi</button>
                    <input type="reset" class="btn btn-warning m-2" value="Nhập lại">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->

<script>
    document
      .querySelector(".formEdit-Product")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const productName = document.getElementById("inputProduct").value.trim();
        const productImage = document.getElementById("formFileMultiple").value;
        const productPrice = document.getElementById("inputPrice").value.trim();
        const productSalePrice = document
          .getElementById("inputSalePrice")
          .value.trim();
        const categoryId = document.getElementById("checkCategory").value;
  
        const productError = document.querySelector(".productError");
        const imgError = document.querySelector(".imgError");
        const priceError = document.querySelector(".priceError");
        const salePriceError = document.querySelector(".salePriceError");
        const categoryError = document.querySelector(".cateError");
  
        // Thiết lập một biến để theo dõi lỗi
        let hasError = false;
  
        // Bắt lỗi tên sản phẩm
        if (!productName) {
          productError.innerHTML = `<span class="text-danger">Tên sản phẩm không được để trống</span>`;
          hasError = true; 
        } else if (productName.length < 2) {
          productError.innerHTML = `<span class="text-danger">Tên sản phẩm không được dưới 2 ký tự</span>`;
          hasError = true; 
        } else {
          productError.innerHTML = ""; 
        }
  
        // Bắt lỗi hình ảnh sản phẩm
        const selectedFile = document.getElementById("formFileMultiple").files[0];
            if (selectedFile) {
                const imageFormat = ["image/png", "image/jpeg", "image/jpg"];
                if (!imageFormat.includes(selectedFile.type)) {
                    imgError.innerHTML = `<span class="text-danger">Vui lòng chọn file ảnh có định dạng PNG, JPEG hoặc JPG</span>`;
                    hasError = true; 
                } else {
                    imgError.innerHTML = ""; 
                }
            } else {
                imgError.innerHTML = ""; 
            }
  
        // Bắt lỗi giá sản phẩm
        if (!productPrice) {
          priceError.innerHTML = `<span class="text-danger">Giá sản phẩm không được để trống</span>`;
          hasError = true; 
        } else if (productPrice < 0) {
          priceError.innerHTML = `<span class="text-danger">Tên sản phẩm không được là sô âm</span>`;
          hasError = true; 
        } else {
          priceError.innerHTML = ""; 
        }
  
        // Bắt lỗi giá giảm
        if (!productSalePrice) {
          salePriceError.innerHTML = `<span class="text-danger">Giá giảm không được để trống</span>`;
          hasError = true; 
        } else if (productSalePrice < 0) {
          salePriceError.innerHTML = `<span class="text-danger">Giá giảm không được là số âm</span>`;
          hasError = true; 
        } else if (parseInt(productSalePrice) >= parseInt(productPrice)) {
          salePriceError.innerHTML = `<span class="text-danger">Giá giảm phải thấp hơn giá gốc</span>`;
          hasError = true; 
        } else {
          salePriceError.innerHTML = ""; 
        }
  
  
        // Bắt lỗi danh mục sản phẩm
        if (!categoryId) {
          categoryError.innerHTML = `<span class="text-danger">Vui lòng chọn danh mục sản phẩm</span>`;
          hasError = true; 
        } else {
          categoryError.innerHTML = ""; 
        }
  
        // Kiểm tra cờ lỗi
        if (!hasError) {
          Swal.fire({
            icon: "success",
            title: "Thành công!",
            text: "Cập nhật thành công!",
            showConfirmButton: false,
            timer: 1500, // Tắt tự động sau 1.5 giây
            didClose: () => {
              this.submit();
            },
          });
        }
      });
  </script>