<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-12">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Quản lý đánh giá</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Người dùng</th>
                <th scope="col">Nội dung đánh giá</th>
                <th scope="col" colspan="2">Hành động</th>
              </tr>
            </thead>
            <tbody id="commentsTableBody">
              <% 
                comments.sort((a, b) => b.id - a.id);
                comments.forEach(function(comment, index) { %>
              <tr data-id="<%= comment.id %>">
                <th scope="row"><%= comment.id %></th>
                <td>
                  <strong>Mã: </strong><%= comment.product_id %><br />
                  <strong>Tên: </strong><%= comment.product_name %>
                </td>
                <td>
                  <strong>Mã: </strong><%= comment.user_id %><br />
                  <strong>Tên: </strong><%= comment.user_fullname %>
                </td>
                <td colspan="2">
                  <strong><%= comment.content %></strong>
                </td>
                <td class="w-3" colspan="2">
                  <a
                    href="/admin/commentDelete/<%= comment.id %>"
                    class="btn-del"
                    data-id="<%= comment.id %>"
                    data-title="<%= comment.content %>"
                    onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận <%= comment.content %> không?')">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table End -->
